body{
    background: url('bg.jpg');
    background-size:cover;
}
.tic1{
    height: 190px;
    width: 345px;
    position: absolute;
    top: 25%;
    left: 0%;
}
h3{
    position: absolute;
    top: 51%;
    left: 0%;
    color: darkgreen;
}
.tic2{
    height: 190px;
    width: 345px;
    position: absolute;
    top: 25%;
    left: 30%;
}
h4{
   position: absolute;
    top: 51%;
    left: 30%;
    color: darkgreen; 
}
.to{
    position: absolute;
    top: 96%;
    right: 0%;
    color: maroon;
    font-size: 20px;
}
center{
    color: maroon;
    font-size: 40px;
}
.ch{
    height: 190px;
    top: 25%;
    right: 10%;
    position: absolute;
}
.text{
    position: absolute;
    top: 51%;
    right: 27.2%;
    font-size: 20px;
    color: yellowgreen;
}